.hlx-home-why-about {
    &__heading {
        color: #222;
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        /* 100% */
        text-transform: uppercase;
    }
}